/* Particles */
#particles-js {
  background-image:linear-gradient(rgba(147, 50, 179, 0.342),rgba(86, 217, 202, 0.363));
  height: 476px;
}
/* Fin particles */



/* Nav bar */


@media (min-width: 768px) {
  .view {
      overflow: visible;
      margin-top: -56px;
      
  }
}
.navbar {
  box-shadow:none;
  background-color: transparent;
  transition: 0.5s ease;

}


.navbar .nav .item {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
  line-height: 80px;
  margin-right: 20px;
  transition: 0.5s ease;
  
}


.navbar .nav .item a {
  text-decoration: none;
  color: inherit;
}

.scrolled {
  transition: 0.5s ease;
 }
 
 .scrolled.navbar {
   background-color: #ffffff;
   transition: 0.5s ease;
   color: black;
   
 
 }

 scrolled.navbar .nav .item {
  line-height: 40px;
  transition: 0.5s ease;
}


/* color nav */

.navbar.navbar-dark .navbar-nav .nav-item .nav-link{
  color: black;  
  
}



/* -------------------------------------------------------------------------
   begin Scroll Down Button
 * ------------------------------------------------------------------------- */
button.scroll_down {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 50px;
  width: 30px;
  bottom: 60px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
button.scroll_down:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
  box-sizing: border-box;
}

@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* -------------------------------------------------------------------------
   end Scroll Down Button 
 * ------------------------------------------------------------------------- */


/* fin scroll down */





/* Text Name */
h1{
  font-size: 70px;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
  font-style: bold;
  letter-spacing: 10px;
}
.text-title{
  font-size: 3vh;

}



/* color nav */

.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
  color: #ffffff;
}
/* fin color nav */


.top-nav-collapse {
  
 
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color:#ffffffa9;
  }
}

/* Fin nav bar */


/* textName */
.text-name{
  position: absolute;
  margin-top: 10em;
  color:whitesmoke;
}
/* Fin textName */


/*=============================================
=            Section 2  What I do        =
=============================================*/

/* Gradient sección 2 */
#whatIdo{
  background-image: linear-gradient(rgba(86, 217, 202, 0.363),#55b9bd13);
  padding-bottom: 5rem;
  
}
/* Fin gradient seccion 2 */


/* Start icons */

#icons{
  margin-top: 3rem;
}

/* End icons */


/* Start title icons */
h2, h5{
  font-weight: 400
}

/* End title icon */


/* Margin top WID */

#WID{
  margin-top: 12rem;
}
/* Fin Margin top WID */


/* Parrafo  */
#UX-UI{
  font-size: 20px;
}
/* Fin Párrafo */


.text-wid{
  font-size: 1.1em;
}


/* imgFinger */
#finger{
  position: absolute;
  width:15%;
  height:15%;
  top:66px; 
  left:120px; 
  visibility: visible;
  z-index: 10;
}

/* Fin imgFinger */

@media only screen and (min-width: 320px) {
}

/*=====  Fin Sección What I Do ======*/


/*=============================================
=            Section projects            =
=============================================*/

.projects{
  background-image: linear-gradient(#55b9bd13,#ffffff);
  padding-top: 3vh;
  padding-bottom: 5vh;
}

/* Img fondo proyecto keeper */
#p1{
  max-width: 100%;
    height: auto;
    margin-top: 5vh;   
    background-color: #4770d613;
}
/* Img fondo proyecto Keeper */

/* Img fondo proyecto red social*/

#fondoRedsocial{
  max-width: 100%;
  height: auto;
  margin-top: 5vh;   
  background-color: rgba(59, 221, 213, 0.123);
}



/* Img fondo proyecto red social*/





/* Title projects */
h3{
  font-size: 8vh;
  margin-top: 18vh;
  font-weight: 600;
}


.wow {
  visibility: hidden;
}

/* End title project */


/* Second title project */
.second-title{
  font-size: 8vh;
  font-weight: 600;
  margin-left: 8vh;
}

/* End second title project */

.left-line {
  content: '';
  position: absolute;
  left: 3.2vh;
  top: 34vh;
  background: #9232B3;
  height: .3em;
  width: 2em;
}
 .text-project{
   font-size: 3.5vh;
}


@media only screen and (min-width: 320px) {
}


/*=====  End of Section projects  ======*/



/*=============================================
=           Desafíos           =
=============================================*/


.desafios{

    --color-bg: #e8e8e8;
    --color-link: #ec1752;
    --color-link-hover: #eb1851;
    --color-info: #272526;
    --grid-item-bg: #f1f1f1;
    --color-close: #ec1752;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	margin-top: 10vh;


	
	
}



a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
}

.frame {
	position: relative;
	padding: 1.5rem 2.5rem;
}

.frame a:hover {
	color: #4c33f7;
}

/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	text-align: center;
	font-size: 1rem;
}

.codrops-header__title {
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.info {
	margin: 0 0 0 1.25em;
	color: var(--color-info);
}

.github {
	display: block;
	margin: 0.15em 0.15em 0.15em 0.5em;
	padding: 0.25em;
}

.title {
	text-align: center;
	margin-top: 10em;

}

.title__name{
	font-size: 2rem;
	margin-top: 0vh;
	margin-left: 3em;
	font-weight: 400;
	letter-spacing: 10px;
	

}


.title__sub {
	font-weight: normal;
	margin: 0;
	font-size: 1rem;
}

.title__sub {
	position: relative;
	margin: 0;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

.grid-wrap {
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
	padding: 6rem 1rem 0;
}

.grid-wrap--hidden {
	height: 0;
	overflow: hidden;
}

.grid {
	margin: 0 auto;
	position: relative;
	display: none;
}

.js .grid {
	display: block;
}

.grid__item {
	width: 260px;
	position: relative;
	padding: 2.75rem;
	margin-bottom: 5rem;
}

.grid__item-wrap {
	position: relative;
}

.grid__item-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--grid-item-bg);
	background-image:linear-gradient(rgba(86, 217, 202, 0.363),rgba(147, 50, 179, 0.151));
}

.grid__item-img {
	pointer-events: none;
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	outline: 1px solid transparent;
}

.grid__item:nth-child(even) .grid__item-img {
	transform: rotate3d(0,0,1,4deg);
}

.grid__item:nth-child(odd) .grid__item-img {
	transform: rotate3d(0,0,1,-4deg);
}

.grid__item-title {
	font-weight: normal;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 0 0 1rem;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	transform-origin: 0 50%;
}

.grid__item-number {
	font-weight: bold;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 2.65rem;
	margin: 0 0 0.15rem;
}

.grid__item-number > span {
	display: inline-block;
}

.content {
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	pointer-events: none;
}

.js .content {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.content__item {
	padding: 10rem 5vw 10rem;
	grid-area: 1 / 1 / 1 / 1;
}

.js .content__item {
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
}

.js .content__item--current {
	height: auto;
	opacity: 1;
	padding: 3rem 5vw 10rem;
	pointer-events: auto;
}

.content__item-intro {
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
}

.content__item-img {
	position: relative;
	height: auto;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	grid-area: 1 / 1 / 1 / 1;
	opacity: 0.2;
  filter: alpha(opacity=50);
}

.js .content__item-img {
	visibility: hidden;
	
}

.content__item-title {
	position: relative;
	font-size: 10vw;
	font-weight: 600;
	line-height: 2;
	text-align: center;
	margin: 0;
	padding: 0 5vw;
	white-space: nowrap;
	grid-area: 1 / 1 / 1 / 1;
	color: #6e00d7;
}

.content__item-title > span {
	white-space: pre;
	display: inline-block;
}

.content__item-subtitle {
	text-align: center;
	font-size: 1.25rem;
	font-weight: normal;
	margin: 3rem auto;
}

.content__item-text {
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
}

.content__item-text p {
	margin: 0;
}

.content__close {
	position: absolute;
	top: 0.75rem;
	left: 50%;
	z-index: 10000;
	transform: translateX(-50%);
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: #6e00d7;
	
}

.content__close:focus {
	outline: none;
}

.content__item--current ~ .content__close {
	pointer-events: auto;
}

.content__indicator {
	position: absolute;
	top: calc(100vh - 6rem);
	left: calc(50% - 0.75rem);
	display: none;
	color: #6e00d7;
}

.js .content__item-title > span,
.js .content__item-subtitle,
.js .content__item-text,
.content__close,
.content__indicator {
	opacity: 0;
}

@media screen and (min-width: 55em) {
	.frame {
		display: grid;
		align-items: start;
		justify-items: start;
		grid-template-columns: 40% 60%;
		grid-template-areas: 'title header';
	}
	.codrops-header {
		grid-area: header;
		justify-self: end;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-items: center;
		text-align: left;
	}
	.codrops-links {
		margin: 0 0 0 1.5rem;
	}
	.title {
		grid-area: title;
		display: flex;
		text-align: left;
	}
	.title__sub {
		position: relative;
		padding: 0 0 0 5rem;
		margin: 0 0 0 1rem;
	}
	.title__sub::before {
		content: '';
		height: 1px;
		width: 4rem;
		background: currentColor;
		position: absolute;
		top: 0.65rem;
		left: 0;
	}
	.title__sub-works {
		display: block;
	}
	.grid__item-number {
		right: -2.45rem;
	}
	.grid__item-title {
		margin-left: -0.25rem;
		letter-spacing: 2px;
	}
	.content__item-subtitle {
		font-size: 3vw;
	}
	.content__item-text {
  		column-count: 2;
  		column-gap: 20px;
  	}
	.content__item-img {
		max-width: none;
		height: calc(100vh - 6rem);
	}
	.content__item-subtitle {
		max-width: 50%;
	}
	.content__indicator {
		display: block;
	}
}



/*=====  footer  ======*/


.footer-color{
  background-color: rgba(195, 199, 202, 0.274);
  width: 100%;
  height: 25vh;
  padding-bottom: 2vh;
  margin-top: 5vh;
}
/*=====  End footer ======*/


/* iconos */

.fa, .fab, .fal, .far, .fas{
  font-size: 2em;
  color: #9232b3;
  margin: 1vh;
  margin-top: 3vh;
  
}



